<p-panel header="Search Results" [toggleable]="true">
  <p-tabView (onChange)="handleChange($event)">
    <p-tabPanel [header]="item.label" *ngFor="let item of tabs; let i = index" [selected]="i == 0">
  
      <div *ngIf="i == 0">
        <lib-main></lib-main>
      </div>
      <div *ngIf="i == 1">
        <lib-formValidation></lib-formValidation>
      </div>
    </p-tabPanel>
  </p-tabView>
  <ng-template pTemplate="footer">
    <div class="footer">
      Copyright © 2021 MALIK. All Rights Reserved.
    </div>
  </ng-template>
</p-panel>




  <!-- <p-tabView (onChange)="onTabChange($event)" [activeIndex]="activeIndex">
    <div *ngFor="let item of tabs; let i = index">
      <p-tabPanel [header]="item.label" [selected]="activeIndex == i" [disabled]="item.isDisabled" *ngIf="item.isVisible">
      </p-tabPanel>
    </div>
    <router-outlet></router-outlet>
  </p-tabView> -->